
            #myOverlay2 {
                width:50%;
                height:41.5%;
            }
#myOverlay3 {
                width:50%;
                height:41.5%;
            }
        
#myOverlay4 {
                width:50%;
                height:41.5%;
            }
.across-overlay-header{

    width: 100%;
    margin-top: -16px;
    margin-left: -16px;
    width: 104.5%;
    
}
.overlay-body-seg{
  color: black;


}
.overlay-footer{
 margin-top: 20px;
    background:#B29434;
    width: 104.5%;
    height: 20%;
    margin-left: -17px;
    width: 104.5%;
    text-align: center;
    padding-top: 5px;
}
.top-name-overlay{
    position: absolute;
    top: 10px;
    left: 300px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style:wavy;

}
.btn-overlay{
    border:0.5px solid #B29434;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-left: 40%;
    padding-top: 5px;
    text-align: center;
}
.btn-overlay:hover{
   background: #B29434;
    color: white;
}
.sidecontentpullout {
		background: #B29434;
			color: black;
    font-weight: bolder;
			padding: 4px 3px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
    z-index: 10000;
    width: 50px;
    
		}
		
		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}
		
		.sidecontent {
			background: #B29434;
            color: black
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
             z-index: 100000;
            margin-top:30px;
            height: 500px;
		}
		
		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
.slide-out-head{
   height: auto;
 
}
.body-slide-out{
    height: 100px;
  color: black;
    font-weight:bold;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.button-hos{
   height: 50px;
    width: 180px;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
    margin-left: 20%;
  
}
.button-hos:hover{
    background: black;
    color: #AA9141;
    border: 1px solid #AA9141;
    cursor: pointer;
}
.three-modules-large{
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
.three-modules{
    height: 400px;
   border: 0.5px solid  #AA9141;

    text-align: center;
}
.three-modules:hover{
     border: 2px solid  #AA9141;
    border-bottom-style: double;

}
.module-head{
   height: 10%;
   border-bottom: 0.5px  #AA9141 solid;
    width: 109%;
    margin-left: -10px;
    padding-top: 6px;
    cursor: pointer;
}
.module-head:hover{
    background: #AA9141;
    color: black;

}
.module-title{
   height: 10%;
    text-decoration: underline;
    text-decoration-color: #AA9141;
    text-decoration-style: solid;
    width: 100%;
    font-weight: bold;
    cursor: pointer;

}
.module-title:hover{
    text-decoration: underline;
text-decoration-style: double;
     text-decoration-color: #AA9141;
}
.module-body{
   height: 70%;

    width: 100%;

}
.module-footer{
   height: 10%;

    width: 109%;
    margin-left: -10px;
}

.ad{
  margin-top: 40px;
    text-align: center;
    cursor: pointer;
}
.trends-large{
    height: 200px;
    margin-top: 30px;
}
.trends{
    height: 200px;
   border-left: 1px solid #AA9141;
}
.trends-top{
    text-align: center;
    color: #AA9141;
    text-decoration: underline;
    text-decoration-style: wavy;
}
.trending-body{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
     color: #AA9141;
}
.hot-links-large{
    height: 200px;
    width: 100%;
    margin-top: 30px;
}
.hot-links{
    height: 200px;
    border-left: 2px solid #AA9141;
}
.links-title{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #AA9141;
    text-decoration-style: double;
    color: #AA9141;
    font-weight: bolder;
}
.links-body{
margin-top: 10px;
}
.links-act:hover{
    color: #AA9141;
}
.links-act{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
.footer-large{
    height: 30px;
    background: #B29434;
    width: 100%;
}
.footer{
     height: 30px;
}
