
            #myOverlay2 {
                width:50%;
                height:41.5%;
            }
#myOverlay3 {
                width:50%;
                height:41.5%;
            }
        
#myOverlay4 {
                width:50%;
                height:41.5%;
            }
.across-overlay-header{

    width: 100%;
    margin-top: -16px;
    margin-left: -16px;
    width: 104.5%;
    
}
.overlay-body-seg{
  color: black;


}
.overlay-footer{
 margin-top: 20px;
    background:#B29434;
    width: 104.5%;
    height: 20%;
    margin-left: -17px;
    width: 104.5%;
    text-align: center;
    padding-top: 5px;
}
.top-name-overlay{
    position: absolute;
    top: 10px;
    left: 300px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style:wavy;

}
.btn-overlay{
    border:0.5px solid #B29434;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-left: 40%;
    padding-top: 5px;
    text-align: center;
}
.btn-overlay:hover{
   background: #B29434;
    color: white;
}
.sidecontentpullout {
		background: #B29434;
			color: black;
    font-weight: bolder;
			padding: 4px 3px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
    z-index: 10000;
    width: 50px;
    
		}
		
		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}
		
		.sidecontent {
			background: #B29434;
            color: black
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
             z-index: 100000;
            margin-top:30px;
            height: 500px;
		}
		
		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
.slide-out-head{
   height: auto;
 
}
.body-slide-out{
    height: 100px;
  color: black;
    font-weight:bold;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.button-hos{
   height: 50px;
    width: 180px;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
    margin-left: 20%;
  
}